.app {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.header {
  display: grid;
  width: 100%;
  margin-top: 30px;
  justify-items: center;
  font-weight: 500;
  gap: 15px;
}
.result {
  display: flex;
  width: 60%;
  flex-direction: column;
}
.search {
  width: 60%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
}
.result-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.card {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  gap: 5px;
}
.attribute--name {
  font-weight: 600;
}
